<html ng-app="app" ng-controller="HomeController" >
	<head>
	
		<title>{{nav.title.text}}</title>
		<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		
		<link rel="shortcut icon" href="images/favicon.ico" />
		
		<link rel="apple-touch-icon" href="images/app-icon.png" />
		<link rel="apple-touch-startup-image" href="images/splash-ipad-h.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
		<link rel="apple-touch-startup-image" href="images/splash-ipad-v.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
		<link rel="apple-touch-startup-image" href="images/splash-iphone.png" media="screen and (max-device-width: 320px)" />
		
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
		
		<link rel="stylesheet" type="text/css" href="css/Render.css" />
		<link rel="stylesheet" type="text/css" href="css/RenderRTL.css" />
		<link rel="stylesheet" type="text/css" href="css/Firefox.css" />
		<link rel="stylesheet" type="text/css" href="css/openHAB.css" />
		
		<link rel="stylesheet" type="text/css" href="css/ext/jquery.miniColors.css" />

	</head>
<body>
	<div id="WebApp">
		<div id="iPL"></div>
		<div id="iLoader" ng-show="showLoader">
			<span>Loading...</span>
		</div>

		<div id="iHeader">
			<div style="opacity: 1; display: block;">
				<a href="{{nav.back.href}}" id="waBackButton" ng-show="nav.back.visible" class="ng-hide">{{nav.back.text}}</a>
				<!--<a id="waRightButton" ng-click="stayConnected = !stayConnected" style="right: 70px">{{stayConnected ? 'Stay Open' : 'Close'}}</a>-->
				<a href="#/" id="waHomeButton" ng-show="nav.home.visible" class="ng-hide">{{nav.home.text}}</a>
				<a onclick="return WA.HideBar()">
					<span id="waHeadTitle" ng-show="nav.title.visible" ng-animate-swap="nav.title.text" class="ng-hide swap-title {{animationStyle}}">{{nav.title.text}}</span>
				</a>
			</div>
		</div>

		<div id="iGroup">
			<div class="iLayer ng-hide" id="wa{{viewItem.id}}" title="{{viewItem.label}}" ng-hide="showLoader">
				<div ng-repeat="page in pages" ng-hide="showLoader" class="viewRoot {{animationStyle}} pop-up">
					<filler ng-repeat="widget in page.children" ng-include src="'pages/' + widget.type + '.html'"></filler>
					<div class="iFooter">&copy;2010-2015 openHAB.org</div>
					<p>
						<strong>Watch Count:</strong> {{ watchCount }}
					</p>
				</div>
			</div>
			<div class="iLayer ng-hide" id="waColorpicker" title="Color">
				<div class="iMenu">
					<h3></h3>
					<ul class="iArrow">
						<p>
							<img style="padding: 10px; width: 1%;" src="/images/none.png" /><input
								id="colorPickerInput" onChange="colorChange()" type="minicolors"
								value="#ffffff" data-control="inline" data-slider="wheel"
								data-style="margin: 10px;" />
						</p>
					</ul>
				</div>
			</div>
			<div class="iLayer" id="waForm" title="Home"></div>
		</div>
	</div>

	

	<script src="js/ext/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-window-events/release/angular-window-events.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

	<script src="bower_components/sprintf/src/sprintf.js"></script>
	<script src="bower_components/sprintf/src/angular-sprintf.js"></script>
	<script src="js/ext/format.js"></script>
	<script src="bower_components/big.js/big.js"></script>

	<script src="js/app.js"></script>
	<script src="js/websocket.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/factories.js"></script>
	<script src="js/services.js"></script>
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1.1", {packages: ["corechart", "line"]});
    </script>

</body>
</html>