<div ng-controller="ChartCtrl">
 	<div class="row">
         <div class="col-md-6">
         	<button ng-click="expand(100)">---</button>
         	<button ng-click="expand(10)">--</button>
         	<button ng-click="expand(1)">-</button>

         	<button ng-click="narrow(1)">+</button>
         	<button ng-click="narrow(10)">++</button>
         	<button ng-click="narrow(90)">+++</button>

         </div>
    </div>
	<smartchart id="{{widget.id}}" item="{{widget.item}}">
	</smartchart>
</div>
