<b class="iToggle {{widget.value == 'ON' ? '__sel' : ''}}" ng-controller="ButtonController as ctrl"
	title="{{widget.item}}" ng-click="ctrl.changeState(widget.item, 'TOGGLE')">&nbsp;<b
	style="{{widget.value == 'ON' ? 'right' : 'left'; }}: -1px;"></b><i
	style="{{widget.value == 'ON' ? 'left' : 'right'}}: 0px;">{{widget.value == 'ON' ? 'I' : 'O'}}</i></b>

<input type="checkbox" id="{{widget.item}}" class="iToggle" title="I|O"
	{{widget.checked}} ng-click="ctrl.changeState(widget.item, 'TOGGLE')" />
<img ng-src="/images/{{widget.icon}}.png" width=29 height=29
	class="iFull" />
<label style="{{widget.labelStyle}}">{{widget.label}}</label>